body {
    font-family: sans-serif;
}

.PageNav {
    background-color: bisque;
    border-radius: 8px;
    padding: 8px;
}

.PageNav a {
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    color: black;
    margin-right: 10px;
    padding: 2px 5px;
}
.PageNav a:hover {
    background-color: #ffcd95;
}