body {
    font-family: sans-serif;
}

.PageNav {
    background-color: bisque;
    border-radius: 8px;
    padding: 8px;
}

.PageNav a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

.PageNav a:visited {
    color: black;
}

.PageNav a:hover {
    background-color: #70ff70;
}