body {
    font-family: sans-serif;
}

.CharacterList {
    display: flex;
    flex-wrap: wrap;
}

.InfoBlock, .CharacterBlock, .SearchBox {
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    padding: 10px;
    background-color: #f7f7f7;
}

.SearchBox {
    border-color: #70ff70;
    background-color: #f0fff0;
}
.InfoBlock {
    border-color: #ff7070;
    background-color: #fff0f0;
}

